{% extends "home/giaoVien/baseGV.html" %}
{% block content %}
     <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Danh sách giáo viên</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Danh sách giáo viên</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Danh sách giáo viên</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-0">
        <input id="csrf" style="display: none" value="{{ csrf_token }}">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Tên GV</th>
                    <th>Giới tính</th>
                    <th>Ngày sinh</th>
                    <th>Số điện thoại</th>
                    <th>Email</th>
              </thead>
              <tbody>
                {% for item in dsGiaoViens %}
                  <tr>
                      <td></td>
                    <td>{{item.tenGV}}</td>
                    <td>{{item.gioiTinh}}</td>
                    <td>{{item.ngaySinh|date:"d-m-Y" }}</td>
                    <td>{{item.sdt}}</td>
                    <td>{{item.email}}</td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>

  <script>
    function numberWithCommas(y) {
  let res = '';
  while (y > 0) {
    res = ',' + String(y % 1000).padStart(3, '0') + res;
    y = Math.floor(y / 1000);
  }
  res = res.substr(1);
  while (res[0] == '0') {
    res = res.substr(1);
  }
  return res;
}
Object.values(document.getElementsByClassName("luongNgay")).forEach((item) => {
  item.innerHTML = numberWithCommas(item.innerHTML) + ' VNĐ';
});


  </script>
{% endblock %}