{% extends "home/admin/baseadmin.html" %}
{% block content %} 
{% csrf_token %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Danh sách lớp học</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Danh sách lớp học</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Danh sách lớp học</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-0">
        {% csrf_token %}
        <input id="csrf" style="display: none" value="{{ csrf_token }}">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                  <th>Mã Lớp</th>
                  <th>Tên Lớp</th>
                  <th>Học Phí Ca</th>
                  <th>Ngày Học</th>
                  <th>Giáo Viên</th>
                  <th>Học Phí Đợt</th>
                  <th>Trả Theo Khóa</th>
                  <th style="width: 20%" class="text-center">
                      </th>
                  </tr>
              </thead>
              <tbody>
              <input id='malh' value="" hidden>
                    {% for item in dsLopHocs %}
                    <tr>
                        <td></td>
                        <td>
                      {{ item.maLop }}
                  </td>
                  <td>{{ item.tenLop }}</td>
                  <td class="hocPhi_ca">{{ item.hocPhi_ca }} </td>
                  <td>

                      <button type="submit" onclick="xemLichHocAdmin('{{ item.maLop }}')" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      Lịch {{ item.tenLop }}
                      </button>
                      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      {%csrf_token%}
                        <div class="modal-dialog modal-xl" >
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="staticBackdropLabel">Lịch của lớp</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="panel-body" >
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th></th>
                                        <th>Thứ 2</th>
                                        <th>Thứ 3</th>
                                        <th>Thứ 4</th>
                                        <th>Thứ 5</th>
                                        <th>Thứ 6</th>
                                        <th>Thứ 7</th>
                                        <th>Chủ nhật</th>
                                    </tr>

                                    {% for key,  val in dslh2 %}
                                    <input type="hidden" id="{{key}}" value="{{val}}">
                                    {% endfor %}


                                    {% for k in range8 %}
                                        <tr>
                                            <th>Ca {{k}}</th>
                                                {% for i in range7 %}
                                                    <td class='td_lh'>
                                                    </td>
                                                {% endfor %}

                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                              <button type="button" class="btn btn-primary">OK</button>
                            </div>
                          </div>

                        </div>
                      </div>
                  </td>
                  <td>{{ item.giaoVien_id }}</td>
                  <td class="hocPhi_dot">{{ item.hocPhi_dot }} </td>
                  <td class="traTheoKhoa" value="">{{ item.traTheoKhoa }}</td>
                        <td class="project-actions text-right">
                        <a class="btn btn-primary btn-sm" href="/hocVienLopAdmin/{{ item.maLop }}/">
                            <i class="fas fa-folder">
                            </i>
                            Điểm danh
                        </a>
                        <a class="btn btn-primary btn-sm" href="/editLopHoc/{{ item.maLop }}/">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Sửa
                        </a>
                        <button onclick="modal('{{ item.maLop }}')" class="btn btn-danger btn-sm" href="#">
                            <i class="fas fa-trash">
                            </i>
                            Xóa
                        </button>
                        
                    </td>
                    </tr>
                    {% endfor %}
              </tbody>
          </table>
        </div>
        <div>
            <a href="/addLopHoc/" class="btn btn-primary">Thêm Lớp Học</a>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Xóa lớp học</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p id="thongBao"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            <button type="submit" onclick="deleteLopHoc()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-xoa">OK</button>
          </div>
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-xoa" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Xóa lớp học</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>Xóa thành công</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          </div>
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

    [...document.getElementsByClassName('traTheoKhoa')].forEach(function(item){
          if(item.innerHTML == 'False'){
            item.innerHTML = 'Không';
          }
          else{
            item.innerHTML = 'Có';
          }
        })
function deleteLopHoc() {
  var maLop = $('#malh').val();
  var payload = new FormData();
  payload.append('maLop', maLop);
  payload.append('_token', $('#csrf').val());
  payload.append('csrfmiddlewaretoken', $('#csrf').val());
  $.ajax({
      url: '/deleteLopHoc/',
      type: 'POST',
      data: payload,
      contentType: false,
      processData: false,
      success: function(data) {
        console.log(maLop);
        setTimeout(function(){
          location.reload();
        },2000)
      }
  });
}

function modal(maLop) {
    $('#modal-default').modal('show');
    $('#malh').val(maLop);
    document.getElementById('thongBao').innerHTML = "Bạn có chắc chắn muốn xóa lớp học này?";
}

</script>

<script>
function xemLichHocAdmin(maLop) {
  var payload = new FormData();
  payload.append('maLop', maLop);
  payload.append('_token', $('#csrf').val());
  payload.append('csrfmiddlewaretoken', $('#csrf').val()); 
  $.ajax({
      url: '/xemLichHocAdmin/',
      type: 'POST',
      data: payload,
      contentType: false,
      processData: false,
      success: function(data) {
        console.log(data);

          var ds_td_lh = [...document.getElementsByClassName('td_lh')];
          ds_td_lh.forEach(function(item, index) {
            item.innerHTML = '';
          });
          Object.keys(data.data.dslh2).forEach(function(key) {
              ds_td_lh[key].innerHTML = data.data.dslh2[key];
          });
            
      }
  });

}

</script>


<script type="text/javascript">
  function numberWithCommas(y) {
  let res = '';
  while (y > 0) {
    res = ',' + String(y % 1000).padStart(3, '0') + res;
    y = Math.floor(y / 1000);
  }
  res = res.substr(1);
  while (res[0] == '0') {
    res = res.substr(1);
  }
  return res;
}

Object.values(document.getElementsByClassName("hocPhi_dot")).forEach((item) => {
  item.innerHTML = numberWithCommas(item.innerHTML) + ' VNĐ';
});

Object.values(document.getElementsByClassName("hocPhi_ca")).forEach((item) => {
  item.innerHTML = numberWithCommas(item.innerHTML) + ' VNĐ';
});

</script>


{% endblock %}
